<h1>Data exploration and preparation</h1>

In this and the following notebooks we will demonstrate how you can build your ML Pipeline leveraging Spark Feature Transformers and SageMaker XGBoost algorithm & after the model is trained, deploy the Pipeline (Feature Transformer and XGBoost) as an Inference Pipeline behind a single Endpoint for real-time inference and for batch inferences using Amazon SageMaker Batch Transform.

In particular, in this notebook we will tackle the first steps related to data exploration and preparation. We will use [Amazon Athena](https://aws.amazon.com/athena/) to query our dataset and have a first insight about data quality and available features, and [AWS Glue](https://aws.amazon.com/glue/) to create a Data Catalog and run serverless Spark jobs.

<span style="color: red">**To get started, in the cell below please replace your initials in the bucket_name variable, in order to match the bucket name you've created in the previous steps.**</span>

In [1]:
import boto3
import sagemaker
import time

role = sagemaker.get_execution_role()
region = boto3.Session().region_name

print(region)
print(role)
 
# replace [your-initials] according to the bucket name you have defined.
#bucket_name = 'endtoendml-workshop-[your-initials]'
bucket_name = 'endtoendml-workshop-ad82'
prefix = '02'

print(bucket_name)

eu-west-1
arn:aws:iam::041631420165:role/service-role/AmazonSageMaker-ExecutionRole-20180507T143636
endtoendml-workshop-ad82

We can now copy to our bucket the dataset used for this use case. We will use the `windturbine_raw_data.csv` made available for this workshop in the `gianpo-public` public S3 bucket. In this Notebook, we will download from that bucket and upload to your bucket so that AWS Glue can access the data.

In [2]:
import boto3

s3 = boto3.resource('s3')

copy_source = {
    'Bucket': 'gianpo-public',
    'Key': 'windturbine_raw_data.csv'
}

file_name = 'windturbine_raw_data.csv'
file_key = 'data/{0}'.format(file_name)
s3.Bucket(bucket_name).copy(copy_source, file_key)

The first thing we need now is to infer a schema for our dataset. Thanks to its [integration with AWS Glue](https://docs.aws.amazon.com/athena/latest/ug/glue-athena.html), we will later use Amazon Athena to run SQL queries against our data stored in S3 without the need to import them into a relational database. To do so, Amazon Athena uses the AWS Glue Data Catalog as a central location to store and retrieve table metadata throughout an AWS account. The Athena execution engine, indeed, requires table metadata that instructs it where to read data, how to read it, and other information necessary to process the data.

To organize our Glue Data Catalog we create a new database named `endtoendml-db`. To do so, we create a Glue client via Boto and invoke the `create_database` method.

In [3]:
glue_client = boto3.client('glue')
response = glue_client.create_database(DatabaseInput={'Name': 'endtoendml-db'})
response = glue_client.get_database(Name='endtoendml-db')
response
assert response['Database']['Name'] == 'endtoendml-db'

Now we define a Glue Crawler that we point to the S3 path where the dataset resides, and the crawler creates table definitions in the Data Catalog.
To grant the correct set of access permission to the crawler, we use one of the roles created before (`GlueServiceRole-endtoendml`) whose policy grants AWS Glue access to data stored in your S3 buckets.

In [4]:
response = glue_client.create_crawler(
    Name='endtoendml-crawler',
    Role='GlueServiceRole-endtoendml', 
    DatabaseName='endtoendml-db',
    Targets={'S3Targets': [{'Path': '{0}/data/'.format(bucket_name)}]}
)

We are ready to run the crawler with the `start_crawler` API and to monitor its status upon completion through the `get_crawler_metrics` API.

In [5]:
glue_client.start_crawler(Name='endtoendml-crawler')

while glue_client.get_crawler_metrics(CrawlerNameList=['endtoendml-crawler'])['CrawlerMetricsList'][0]['TablesCreated'] == 0:
    print('RUNNING')
    time.sleep(15)
    
assert glue_client.get_crawler_metrics(CrawlerNameList=['endtoendml-crawler'])['CrawlerMetricsList'][0]['TablesCreated'] == 1

RUNNING
RUNNING
RUNNING
RUNNING

When the crawler has finished its job, we can retrieve the Table definition for the newly created table.
As you can see, the crawler has been able to correctly identify 12 fields, infer a type for each column and assign a name.

In [6]:
table = glue_client.get_table(DatabaseName='endtoendml-db', Name='data')
table

{'Table': {'Name': 'data',
  'DatabaseName': 'endtoendml-db',
  'Owner': 'owner',
  'CreateTime': datetime.datetime(2019, 9, 3, 13, 48, 2, tzinfo=tzlocal()),
  'UpdateTime': datetime.datetime(2019, 9, 3, 13, 48, 2, tzinfo=tzlocal()),
  'LastAccessTime': datetime.datetime(2019, 9, 3, 13, 48, 2, tzinfo=tzlocal()),
  'Retention': 0,
  'StorageDescriptor': {'Columns': [{'Name': 'col0', 'Type': 'string'},
    {'Name': 'col1', 'Type': 'string'},
    {'Name': 'col2', 'Type': 'bigint'},
    {'Name': 'col3', 'Type': 'bigint'},
    {'Name': 'col4', 'Type': 'double'},
    {'Name': 'col5', 'Type': 'bigint'},
    {'Name': 'col6', 'Type': 'bigint'},
    {'Name': 'col7', 'Type': 'bigint'},
    {'Name': 'col8', 'Type': 'bigint'},
    {'Name': 'col9', 'Type': 'bigint'},
    {'Name': 'col10', 'Type': 'string'},
    {'Name': 'col11', 'Type': 'string'}],
   'Location': 's3://endtoendml-workshop-ad82/data/',
   'InputFormat': 'org.apache.hadoop.mapred.TextInputFormat',
   'OutputFormat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
   'Compressed': False,
   'NumberOfBuckets': -1,
   'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'Parameters': {'field.delim': ','}},
   'BucketColumns': [],
   'SortColumns': [],
   'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'endtoendml-crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '41',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'objectCount': '1',
    'recordCount': '1032190',
    'sizeKey': '42319794',
    'typeOfData': 'file'},
   'StoredAsSubDirectories': False},
  'PartitionKeys': [],
  'TableType': 'EXTERNAL_TABLE',
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'CrawlerSchemaSerializerVersion': '1.0',
   'UPDATED_BY_CRAWLER': 'endtoendml-crawler',
   'areColumnsQuoted': 'false',
   'averageRecordSize': '41',
   'classification': 'csv',
   'columnsOrdered': 'true',
   'compressionType': 'none',
   'delimiter': ',',
   'objectCount': '1',
   'recordCount': '1032190',
   'sizeKey': '42319794',
   'typeOfData': 'file'},
  'CreatedBy': 'arn:aws:sts::041631420165:assumed-role/GlueServiceRole-endtoendml/AWS-Crawler',
  'IsRegisteredWithLakeFormation': False},
 'ResponseMetadata': {'RequestId': '8cd3bc8f-ce51-11e9-a571-d5e55485529b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 03 Sep 2019 13:48:46 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1901',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8cd3bc8f-ce51-11e9-a571-d5e55485529b'},
  'RetryAttempts': 0}}

Based on our knowledge of the dataset, we can assign more specific names to columns.

In [7]:
table['Table']['StorageDescriptor']['Columns'] = [{'Name': 'turbine_id', 'Type': 'string'},
                                                  {'Name': 'turbine_type', 'Type': 'string'},
                                                  {'Name': 'wind_speed', 'Type': 'double'},
                                                  {'Name': 'rpm_blade', 'Type': 'double'},
                                                  {'Name': 'oil_temperature', 'Type': 'double'},
                                                  {'Name': 'oil_level', 'Type': 'double'},
                                                  {'Name': 'temperature', 'Type': 'double'},
                                                  {'Name': 'humidity', 'Type': 'double'},
                                                  {'Name': 'vibrations_frequency', 'Type': 'double'},
                                                  {'Name': 'pressure', 'Type': 'double'},
                                                  {'Name': 'wind_direction', 'Type': 'string'},
                                                  {'Name': 'breakdown', 'Type': 'string'}]
updated_table = table['Table']
updated_table.pop('DatabaseName', None)
updated_table.pop('CreateTime', None)
updated_table.pop('UpdateTime', None)
updated_table.pop('CreatedBy', None)
updated_table.pop('IsRegisteredWithLakeFormation', None)

glue_client.update_table(
    DatabaseName='endtoendml-db',
    TableInput=updated_table
)

{'ResponseMetadata': {'RequestId': '9124c68a-ce51-11e9-abf0-a5c03f9cc724',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 03 Sep 2019 13:48:53 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': '9124c68a-ce51-11e9-abf0-a5c03f9cc724'},
  'RetryAttempts': 0}}

In [8]:
!pip install pyathena

Requirement already satisfied: pyathena in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.7.1)
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (1.9.207)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (1.12.207)
Requirement already satisfied: tenacity>=4.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (5.1.1)
Requirement already satisfied: future in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyathena) (0.17.1)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->pyathena) (0.2.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->pyathena) (0.9.4)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->pyathena) (2.7.3)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->pyathena) (1.23)
Requirement already satisfied: docutils<0.15,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->pyathena) (0.14)
Requirement already satisfied: six>=1.9.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tenacity>=4.1.0->pyathena) (1.11.0)
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [9]:
import pyathena
from pyathena import connect
import pandas as pd

conn = connect(s3_staging_dir='s3://{0}/staging/'.format(bucket_name), 
               region_name='eu-west-1')

df = pd.read_sql('SELECT * FROM "endtoendml-db".data limit 8;', conn)
df

,turbine_id,turbine_type,wind_speed,rpm_blade,oil_temperature,oil_level,temperature,humidity,vibrations_frequency,pressure,wind_direction,breakdown
0,TID003,HAWT,80.0,61.0,NaN,34.0,33.0,26.0,1.0,77.0,E,no
1,TID010,HAWT,85.0,78.0,36.0,28.0,35.0,43.0,15.0,62.0,NE,yes
2,TID007,HAWT,47.0,31.0,31.0,23.0,46.0,62.0,15.0,32.0,N,no
3,TID008,VAWT,73.0,70.0,38.0,8.0,17.0,66.0,6.0,80.0,SW,yes
4,TID003,HAWT,16.0,23.0,46.0,9.0,76.0,53.0,14.0,29.0,W,no
5,TID001,HAWT,78.0,71.0,30.0,11.0,66.0,79.0,1.0,81.0,SW,no
6,TID009,HAWT,80.0,25.0,37.0,31.0,40.0,75.0,4.0,56.0,NW,no
7,TID002,VAWT,59.0,29.0,37.0,10.0,25.0,83.0,13.0,55.0,SE,no

Another SQL query to count how many records we have

In [10]:
pd.read_sql('SELECT COUNT(*) FROM "endtoendml-db".data;', conn)

     _col0
0  1000000

Let's try to see what are possible values for the field "alarm" and how frequently they occur over the entire dataset

In [11]:
pd.read_sql('SELECT breakdown, (COUNT(breakdown) * 100.0 / (SELECT COUNT(*) FROM "endtoendml-db".data)) \
            AS percent FROM "endtoendml-db".data GROUP BY breakdown;', conn)

  breakdown  percent
0       yes  13.6579
1        no  86.3421

In [12]:
pd.read_sql('SELECT DISTINCT(turbine_type) FROM "endtoendml-db".data', conn)

  turbine_type
0         VAWT
1
2         HAWT

In [13]:
pd.read_sql('SELECT COUNT(*) FROM "endtoendml-db".data WHERE oil_temperature IS NULL GROUP BY oil_temperature', conn)

   _col0
0  38297

Now we want to see if there is a correlation between temperature and humidity. To do so we run a SQL query to select only these two columns and populate a Pandas dataframe that we will use for our analysis

In [14]:
temp_hum_df = pd.read_sql('SELECT temperature, humidity FROM "endtoendml-db".data', conn)
temp_hum_df.head()

   temperature  humidity
0         33.0      26.0
1         35.0      43.0
2         46.0      62.0
3         17.0      66.0
4         76.0      53.0

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.scatter(temp_hum_df.temperature, temp_hum_df.humidity)

In [ ]:
plt.hist(temp_hum_df.humidity, bins=10)

In [ ]:
wind_rpm_df = pd.read_sql('SELECT wind_speed, rpm_blade FROM "endtoendml-db".data', conn)
plt.scatter(wind_rpm_df.wind_speed, wind_rpm_df.rpm_blade)

Note: you can go to Amazon Athena console and check for query duration under History tab: usually queries are executed in a few seconds, then it takes a while for pandas to load results into a dataframe

In [ ]:
wind_rpm_df.describe()

Now we select our entire dataset and populate a dataframe.

In [ ]:
df = pd.read_sql('SELECT * FROM "endtoendml-db".data;', conn)
df.info()

You can notice that col4float has some missing values

In [ ]:
df.describe(include=['object', 'int64', 'float64'])

In [15]:
!wget https://s3-us-west-2.amazonaws.com/sparkml-mleap/0.9.6/python/python.zip
!wget https://s3-us-west-2.amazonaws.com/sparkml-mleap/0.9.6/jar/mleap_spark_assembly.jar

--2019-09-03 13:53:02--  https://s3-us-west-2.amazonaws.com/sparkml-mleap/0.9.6/python/python.zip
Resolving s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)... 52.218.200.248
Connecting to s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)|52.218.200.248|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36872 (36K) [application/zip]
Saving to: ‘python.zip.1’

python.zip.1        100%[===================>]  36.01K  --.-KB/s    in 0.1s

2019-09-03 13:53:03 (270 KB/s) - ‘python.zip.1’ saved [36872/36872]

--2019-09-03 13:53:03--  https://s3-us-west-2.amazonaws.com/sparkml-mleap/0.9.6/jar/mleap_spark_assembly.jar
Resolving s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)... 52.218.200.248
Connecting to s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)|52.218.200.248|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17319576 (17M) [application/java-archive]
Saving to: ‘mleap_spark_assembly.jar.1’

mleap_spark_assembl 100%[===================>]  16.52M  8.06MB/s    in 2.0s

2019-09-03 13:53:06 (8.06 MB/s) - ‘mleap_spark_assembly.jar.1’ saved [17319576/17319576]

In [16]:
s3.Bucket(bucket_name).upload_file('python.zip', 'dependencies/python/python.zip')
s3.Bucket(bucket_name).upload_file('mleap_spark_assembly.jar', 'dependencies/jar/mleap_spark_assembly.jar')

In [20]:
s3.Bucket(bucket_name).upload_file('endtoendml_etl.py', 'code/endtoendml_etl.py')

ETLJob = glue_client.create_job(Name='endtoendml-job', 
                                Role='GlueServiceRole-endtoendml',
                                Command={
                                    'Name': 'glueetl',
                                    'ScriptLocation': 's3://{0}/code/endtoendml_etl.py'.format(bucket_name)
                                },
                               DefaultArguments={
                                   '--job-language': 'python',
                                   '--extra-jars' : 's3://{0}/dependencies/jar/mleap_spark_assembly.jar'.format(bucket_name),
                                   '--extra-py-files': 's3://{0}/dependencies/python/python.zip'.format(bucket_name)
                               })
glue_job_name = ETLJob['Name']
print(glue_job_name)

endtoendml-job

In [21]:
JobRun = glue_client.start_job_run(JobName=glue_job_name, 
                                  Arguments = {'--S3_BUCKET': bucket_name})
print(JobRun)

{'JobRunId': 'jr_186b2ecfe02e1316ed86b076f9448b187b3bf92c85fc8ea775795157be6f235a', 'ResponseMetadata': {'RequestId': 'b6b846b4-ce56-11e9-993d-0f3d6d79da06', 'HTTPStatusCode': 200, 'HTTPHeaders': {'date': 'Tue, 03 Sep 2019 14:25:44 GMT', 'content-type': 'application/x-amz-json-1.1', 'content-length': '82', 'connection': 'keep-alive', 'x-amzn-requestid': 'b6b846b4-ce56-11e9-993d-0f3d6d79da06'}, 'RetryAttempts': 0}}

In [22]:
status = glue_client.get_job_run(JobName=ETLJob['Name'], RunId=JobRun['JobRunId'])
while status['JobRun']['JobRunState'] not in ('FAILED', 'SUCCEEDED', 'STOPPED'):
    print('Job status: ' + status['JobRun']['JobRunState'])
    time.sleep(30)
    status = glue_client.get_job_run(JobName=ETLJob['Name'], RunId=JobRun['JobRunId'])

print(status['JobRun']['JobRunState'])
    
#This will take around 15 minutes

Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
Job status: RUNNING
SUCCEEDED